extends base.pug
include mixins/video
block content  
    h1 Welcome here will see the trending video.

    each video in videos 
        +video(video)
                
    else
        li Sorry Nothing found.